.fee-by-month-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0,0,0, 0.2);
  padding: 5px 0px;
}

.fee-by-month-label {
  text-transform: uppercase;
  font-weight: bold;
}

.fee-by-month-total {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.03cm;
}
