.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 560px;
  background: linear-gradient(rgba(0,0,0,0.2) 55%, rgba(255,255,255,0.001));
  min-height: 200px;
  margin-top: 60px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align:center;
}

.app-title {
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
